.ingredients {
  padding: 40px 16px 0;

  &__title {
    font-size: 2.4rem;
    line-height: 3.1rem;
    font-weight: 900;
    margin-bottom: 1.6rem;
  }

  &__subtitle {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    margin-bottom: 3.2rem;
  }

  &__list-wrapper {
    max-width: 400px;
    overflow-y: scroll;
    padding: 5px 5px 10px;
  }

  &__list {
    display: flex;
    width: 913px;
  }

  &__button {
    display: inline-flex;
    width: 288px;
    height: 316px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--milk);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 12px 0px hsla(51, 35%, 81%, 0.6);
    margin-right: 1.6rem;
    // margin-bottom: 2.4rem;
    padding: 4.8rem 0 4rem;

    &.active {
      background-color: var(--blue);

      .ingredients__name, .ingredients__description {
        color: white;
      }

      .ingredients__price {
        color: var(--ocre)
      }
    }
  }

  &__name {
    color: var(--blue);
  }

  &__description {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
  }

  &__price {
    color: var(--watermelon);
  }

  &__name, &__price {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 900;
  }
}
