@use "hero";
@use "ingredients";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;800;900&display=swap');

* {
  margin: 0
}

:root {
  --black: hsla(0, 0%, 0%, 1);
  --blue: hsla(238, 87%, 52%, 1);
  --watermelon: hsla(4, 100%, 63%, 1);
  --ocre: hsla(43, 100%, 57%, 1);
  --milk: hsla(60, 57%, 95%, 1);

  font-family:"M PLUS Rounded 1c", system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  color: var(--black);
  background-color: var(--milk);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  flex-direction: column;
  display: flex;
  place-items: center;
  min-width: 360px;
  min-height: 100vh;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

button {
  font-family:"M PLUS Rounded 1c", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#app {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     color: #213547; */
/*     background-color: #ffffff; */
/*   } */
/*   a:hover { */
/*     color: #747bff; */
/*   } */
/*   button { */
/*     background-color: #f9f9f9; */
/*   } */
/* } */
